<?php declare(strict_types = 1);

$finder = PhpCsFixer\Finder::create()
    ->exclude('vendor')
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@PSR1' => true,
        '@PSR2' => true,
        '@PhpCsFixer' => true,
        '@PhpCsFixer:risky' => true,
        '@Symfony' => true,
        '@Symfony:risky' => true,
        '@DoctrineAnnotation' => true,
        '@PHP70Migration' => true,
        '@PHP70Migration:risky' => true,
        '@PHP71Migration' => true,
        '@PHP71Migration:risky' => true,
        '@PHP73Migration' => true,
        '@PHPUnit75Migration:risky' => true,
        'yoda_style' => false,
        'blank_line_after_opening_tag' => false,
        'phpdoc_no_empty_return' => false,
        'mb_str_functions' => true,
        'simplified_null_return' => true,
        'static_lambda' => true,
        'ordered_interfaces' => true,
        'final_static_access' => true,
        'phpdoc_to_param_type' => true,
        'native_function_invocation' => false,
        'php_unit_test_class_requires_covers' => false,
        'phpdoc_to_return_type' => true,
        'declare_equal_normalize' => ['space' => 'single'],
        'array_syntax' => ['syntax' => 'short'],
        'list_syntax' => ['syntax' => 'short'],
        'doctrine_annotation_braces' => ['syntax' => 'with_braces'],
        'general_phpdoc_annotation_remove' => ['annotations' => ['author', 'created', 'version', 'package', 'copyright', 'license', 'throws']],
    ])
    ->setFinder($finder)
;
